
#user > h2 {
	margin-top: 2.5rem;
	margin-bottom: 3.5rem;
	margin-left: 1.5rem;
}

.log-first-static {
	margin-left: 1rem;
}

.label-class {
	font-weight: 900;
}

.data-total-box {
	margin-left: 2rem;
}

.finish-data-box,
.review-data-box,
.remain-data-box,
.important-data-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}