.insert-box {
	display: flex;
	flex-direction: row;
}

.add-word {
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: 2rem;
	margin-bottom: 3rem;
	border-radius: 0.4rem;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	background-color: rgba(0, 0, 0, 0.6);
}

#add-word-submit {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.one-line-add{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.2rem;
  justify-content: space-between;
}

.one-third {
  width: 30%;
}

.two-third {
  width: 60%;
}

.fa-plus-square-o:before,
.fa-minus-square-o:before{
	font-size: 1.5rem;
}

.right-angle {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: solid 0px #ffffff;
    border-radius: 100%;
    text-align: center;
}

.folder-word.show{
	  margin-top: 1rem;
      max-height: 20rem;
      visibility: visible;
      opacity: 1;
}

#fold-pron {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.phonetic{
    font-family: "Arial";
    font-size: 0.8rem;
}

#fold-pron > div.icon.fa-play-circle::before{
	color: rgba(255, 255, 255, 0.7);
}

.fold-mean-box{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.folder-word{
    max-height: 0px;
    visibility: hidden;
}

.sentence-box{
	margin-top: 0.2rem;
}

.sentence-tag{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0.5rem;
}


.word-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-down::before{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}

.fa-tags::before,
.fa-circle-o::before{
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.8rem;
}

.fa-check-circle{
	margin-left: 96%;
}
.fa-check-circle::before{
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.6);
}

.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .325em;
  display: block;
  list-style: none;
}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: rgba(27, 31, 34, 0.55);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  border-radius: 0.4rem;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: rgba(27, 31, 34, 0.85);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  width: 110%;
  border-radius: 0.4rem;
}

#myList {
  width: 80%; 
  margin-bottom: 10rem;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}

